{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %} Помощь животным {% endblock %}</title>
    <meta name="title" content="{% block meta_title %}Помощь животным{% endblock %}" />
    <meta name="description" content="{% block meta_text %}Давайте поможем им вместе!{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}Помощь животным, помощь собакам, материальная помощь, животные из приюта{% endblock %}" />
    <meta name="author" content="Никита Мочалов - nayskom@gmail.com" />
    <meta name="theme-color" content="#317EFB" />
    <meta property="og:title" content="Заголовок страницы" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% static 'img/pattern.jpg' %}" />
    <meta property="og:description" content="Помощь животным" />
    <meta name="twitter:card" content="{% static 'img/pattern.jpg' %}" />
    <meta name="twitter:title" content="Помощь животным" />
    <meta name="twitter:description" content="Давайте поможем им вместе!" />
    <meta name="twitter:image" content="{% static 'img/pattern.jpg' %}" />
    <meta name="language" content="ru" />
    <meta name="robots" content="index, nofollow" />
    {% include "includes/styles.html" %}
</head>

<body class="website" id="website">
    <div class="website__layout">
        {% include "includes/header.html" %}
        <main class="website__main main" id="main">
            <div class="main__wrapper">
                {% block content %}{% endblock %}
            </div>
        </main>
        {% include "includes/modal.html" %}
        {% include "includes/footer.html" %}
    </div>
    {% include "includes/scripts.html" %}
</body>

</html>