{% extends "base.html" %} {% load static %}
{% block title %}{{ title }}{% endblock %} 
{%block meta_title %}{{ title }}{% endblock meta_title %}
{% block meta_text %}{{ meta_text }}{% endblock meta_text %}
{% block meta_keywords %}{{ meta_keywords }}{% endblock meta_keywords %}
{% block content %} 
<section class="main__section banner" id="banner">
    <div class="container banner__container">
        <div class="banner__slider swiper">
            <div class="banner__slider-wrapper swiper-wrapper">
                {% if petsBanner %}
                    {% for petBanner in petsBanner %}
                    <div class="banner__slider-slide swiper-slide">
                        <div class="banner__slider-content">
                            <h2 class="banner__slider-contentTitle">{{ petBanner.name }} - {{ petBanner.category.name }}</h2>
                            <p class="banner__slider-contentText">{{ petBanner.content|safe|slice:":120" }}...</p>
                            <a href="{% url 'pet:page_detail' petBanner.slug %}" title="читать подробнее" class="banner__slider-contentLink button button--primary">Читать подробнее</a>
                        </div>
                        <div class="banner__slider-preview">
                            <img loading="lazy" src="{{ petBanner.images.all.0.image.url }}" alt="{{ petBanner.name }}" class="banner__slider-previewImg">
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                {% if referencesBanner %}
                    {% for referenceBanner in referencesBanner %}
                    <div class="banner__slider-slide swiper-slide">
                        <div class="banner__slider-content">
                            <span class="banner__slider-badge">Справочник</span>
                            <h2 class="banner__slider-contentTitle">{{ referenceBanner.title }}</h2>
                            <p class="banner__slider-contentText">{{ referenceBanner.small_text|slice:":120" }}...</p>
                            <a href="{% url 'reference:page_detail' referenceBanner.slug %}" title="читать подробнее" class="banner__slider-contentLink button button--primary">Читать подробнее</a>
                        </div>
                        <div class="banner__slider-preview">
                            <img loading="lazy" src="{{ referenceBanner.image.url }}" alt="{{ referenceBanner.title }}" class="banner__slider-previewImg">
                        </div>
                    </div>
                    {% endfor %}
                {% endif %}
                {% if referencesBanner %}
                {% for articleBanner in articlesBanner %}
                <div class="banner__slider-slide swiper-slide">
                    <div class="banner__slider-content">
                        <span class="banner__slider-badge">{{ articleBanner.category.name }}</span>
                        <h2 class="banner__slider-contentTitle">{{ articleBanner.title }}</h2>
                        <p class="banner__slider-contentText">{{ articleBanner.content|safe|slice:":120" }}...</p>
                        <a href="{% url 'article:article_detail' articleBanner.slug %}" title="читать подробнее" class="banner__slider-contentLink button button--primary">Читать подробнее</a>
                    </div>
                    <div class="banner__slider-preview">
                        <img loading="lazy" src="{{ articleBanner.image.url }}" alt="{{ articleBanner.title }}" class="banner__slider-previewImg">
                    </div>
                </div>
                {% endfor %}
            {% endif %}
            </div>
            <ul class="banner__slider-buttons">
                <li class="banner__slider-buttonsItem">
                    <button class="banner__slider-buttonsTarget banner__slider-buttonsTarget--prev">
                        <i class="ri-arrow-left-line"></i>
                    </button>
                </li>
                <li class="banner__slider-buttonsItem">
                    <button class="banner__slider-buttonsTarget banner__slider-buttonsTarget--next">
                        <i class="ri-arrow-right-line"></i>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="main__section about" id="about">
    <div class="about__head-section head-section">
        <div class="container head-section__container">
            <div class="head-section__content">
                <h2 class="head-section__content-title section-title">О нас</h2>
                <p class="head-section__content-text">Наша миссия — объединить неравнодушных людей для помощи животным, оказавшимся в трудной ситуации. Мы верим, что совместными усилиями сможем сделать мир добрее и безопаснее для всех живых существ. На нашем сайте вы найдете информацию о том, как помочь нуждающимся питомцам, станете частью активного сообщества, узнаете о важных акциях и событиях. Присоединяйтесь, чтобы внести свой вклад в заботу о наших меньших братьях.</p>
            </div>
        </div>
    </div>
    {% include "components/about/about-list.html" with galleries=galleries %}
</section>
<section class="main__section news" id="news">
    <div class="container news__container">
        <div class="news__wrapper">
            <h2 class="news__section-title section-title">Важные новости</h2>
            {% include "components/article/article-list.html" with articles=articles %}
        </div>
    </div>
</section>
<section class="pets-section" id="pets">
    <div class="container pets-section__container">
        <div class="pets-section__rowContent">
            <div class="pets-section__head">
                <h2 class="pets-section__title">Им нужна помощь</h2>
                <p class="pets-section__description">Этот раздел посвящен питомцам, которым требуется ваша помощь и забота. Здесь вы найдете истории животных, оказавшихся в сложной ситуации, а также информацию о том, как вы можете помочь каждому из них: от временной опеки до пожертвований или поиска постоянного дома. Присоединяйтесь к спасению жизней и дарите шанс на лучшее будущее нашим четвероногим друзьям.</p>
            </div>
            <div class="pets-section__context">
                {% if pets %}
                <ul class="pets-section__list">
                    {% for pet in pets %}
                    <li class="pets-section__item">
                        <div data-pet-tag="#{{ pet.category.name }}" class="pets-section__card pet-card">
                            <div class="pet-card__wrapper">
                                <div class="pet-card__preview">
                                    <img loading="lazy" src="{{ pet.images.all.0.image.url }}" alt="{{ pet.breed.name }} {{ pet.name }}" class="pet-card__preview-img pet-card__preview-img--primary">
                                    <img loading="lazy" src="{{ pet.images.all.1.image.url }}" alt="{{ pet.breed.name }} {{ pet.name }}" class="pet-card__preview-img pet-card__preview-img--secondary">
                                </div>
                                <div class="pet-card__content">
                                    <div class="pet-card__detail">
                                        <h3 class="pet-card__name"><a aria-label="Перейти на страницу" href="{% url 'pet:page_detail' pet.slug %}" class="pet-card__link">{{ pet.name }}</a></h3>
                                        <ul class="pet-card__info">
                                            <li class="pet-card__info-item">
                                                <div class="pet-card__info-value">{{ pet.breed.name }}</div>
                                            </li>
                                            <li class="pet-card__info-item">
                                                <div class="pet-card__info-value">{{ pet.age }}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="pets-section__alert alert-text">Этот раздел редактируется, приносим свои извинения!</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="reference-section" id="reference-section">
    <div class="container reference-section__container">
        <div class="reference-section__rowContent">
            <div class="reference-section__head">
                <h2 class="reference-section__title">Справочная информация</h2>
                <p class="reference-section__text">Здесь вы найдете полезные советы и рекомендации по уходу за животными, правовой информации о защите животных, а также о том, как правильно помочь питомцам в разных ситуациях. Мы собрали актуальную и проверенную информацию, чтобы вы могли оказывать поддержку животным с заботой и знанием дела.</p>
            </div>
            <div class="reference-section__context">
                {% if references %}
                <ul class="reference-section__list">
                    {% for reference in references %}
                    <li class="reference-section__list-item">
                        <div class="reference-section__list-card reference-card">
                            <div class="reference-card__wrapper">
                                <a href="{% url 'reference:page_detail' reference.slug %}" class="reference-card__linkTitle">
                                    <h3 class="reference-card__name">{{ reference.title }}</h3>
                                </a>
                                <p class="reference-card__text">{{ reference.small_text|slice:":120" }}...</p>
                                <a aria-label="Перейти на страницу" href="{% url 'reference:page_detail' reference.slug %}" class="reference-card__link-detail">Подробнее</a>
                            </div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p class="reference-section__alert alert-text">Этот раздел редактируется, приносим свои извинения!</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
<section class="requisites-section" id="requisites">
    <div class="container requisites-section__container">
        <div class="requisites-section__rowContent">
            <div class="requisites-section__head">
                <h2 class="requisites-section__title">Реквизиты для материальной помощи</h2>
                <p class="requisites-section__text">Все собранные средства идут на еду, лечение, временное содержание и поиск дома для питомцев. Даже небольшая помощь может сделать многое — присоединяйтесь и помогите нам подарить животным шанс на лучшую жизнь.</p>
            </div>
            <div class="requisites-section__context">
                {% if cashs %} 
                <ul class="requisites-section__list">
                  {% for cash in cashs %}
                  <li class="requisites-section__list-item">
                    <div class="requisites-section__list-card requisites-card">
                      <div class="requisites-card__wrapper">
                        <h3 class="requisites-card__bankName">{{ cash.bank }}</h3>
                        <div class="requisites-card__bankCode">
                          <div aria-label="Код карты" class="requisites-card__bankCode-text" data-target-copy>{{ cash.number }}</div>
                          <button data-tooltip="Скопировано" aria-label="Копировать код карты" class="requisites-card__bankCode-copy" data-control-copy>
                            <i class="ri-file-copy-line"></i>
                          </button>
                        </div>
                        <div class="requisites-card__holder">{{ cash.owner }}</div>
                      </div>
                    </div>
                  </li>
                  {% endfor %} 
                </ul>
                {% else %}
                    <p class="requisites-section__alert alert-text">Этот раздел редактируется, приносим свои извинения!</p>
                {% endif %}
              </div>
        </div>
    </div>
</section>
<section class="help-section" id="help-section" style="background-image: url({% static 'img/bg-secondary.webp' %});">
    <div class="container help-section__container">
        <div class="help-section__rowContent">
            <div class="help-section__rowHead">
                <h2 class="help-section__title">Хотите помочь, но не знаете как?</h2>
                <p class="help-section__text">Если вы хотите помочь животным, но не знаете с чего начать, этот раздел для вас. Нажмите кнопку, и мы поможем вам найти удобный способ поддержки — будь то волонтерство, временная опека, передача необходимых вещей или участие в благотворительных акциях. Здесь каждый может найти свой путь к доброму делу и поддержке тех, кто в этом нуждается.</p>
            </div>
            <div class="help-section__rowContext">
                <button aria-label="Открыть модальное окно" class="help-section__btnModal button button--primary" data-toggler-modal>Оставить заявку</button>
            </div>
        </div>
    </div>
</section>
{% endblock %}